@import url('nunito.css');

/* diagnostic styling */
* {
    outline: 1px dotted gray;
}

/* layout */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right, #99E2B4, #469D89, #14746F);
}

h2 {
    font-family: 'Nunito-Semibold';
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

p {
    font-family: 'Nunito-Light';
    font-size: 21px;
    color: #ffffff;
    text-align: center;
    margin: 0;
}

/* scene */
.scene {
    width: 300px;
    height: 400px;
    /* space between card-scenes */
    margin: 16px;

    /* set perspective   */
    perspective: 600px;
}

/* card */
.card {
    width: 100%;
    height: 100%;
    position: relative;

    cursor: pointer;
    transition: transform 1s;

    /* preserve child 3d   */
    transform-style: preserve-3d;
}

/* face */
.face {
    position: absolute;
    height: 100%;
    width: 100%;

    /* hide back face   */
    backface-visibility: hidden;
}

.front {
    background: #31726C;
}

.back {
    background: #104F55;
    /* flip it default   */
    transform: rotateY(180deg);
}

/* flip card
  * toggle with JS
  */
.flipped {
    transform: rotateY(180deg);
}

/* Media Query for Mobile */
@media only screen and (max-width: 30em){ 
    
    /* Diagnostic Styling. Delete When Done. */
    body:before {
         background: yellow;
         content: "Mobile Size";
    }

    body {
        display: flex;
        flex-direction: column;
    }
    
}